<!-- 
<div class="container tablecontainer">
    <div class="container container-fluid">
        <div>
            <div class="btn-group">
                <a [routerLink]="['../create-organisation']" class="btn btn-primary"> <i class="fa-solid fa-building"></i>+
                    Add Organisation </a>
            </div>
            <div class="form-inline btn-group search">
                <input type="search" class="form-control rounded" [(ngModel)]="searchValue" (input)="Search(searchValue)" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
        <br>
        <div class="tableclass">
        <table class="table table-striped table-bordered">

            <thead>
                <tr class="employeetable">
                    <th id="serialnumber" >S.NO</th>
                    <th>Organization Name</th>
                    <th id="buttoncolumn">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="employeetable"
                    *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: page }; let i= index">
                    <td>{{5*(page-1)+i + 1}}</td>
                    <td>{{item.organisation_Name}}</td>
                    <td> <button id="button" [routerLink]="['../edit-organisation/'+item.id]" class="btn btn-primary"
                            target="_self"><i class="fa-solid fa-pen-to-square" title="Edit"></i></button><div class="space"> </div>
                        <div class="space"></div>
                        <button id="button" (click)="deleteOrganisation(item.id)" class="btn btn-danger"><i class="fa-solid fa-user-slash"
                                title="Delete"></i></button><div class="space"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <ng-container *ngIf="( data ) as result">
            <p class="no-records" *ngIf="result.length == 0">No Records found</p>
            <pagination-controls class="paginate" *ngIf="result.length != 0" (pageChange)="page = $event"></pagination-controls>  
          </ng-container>
    </div>
</div> -->


<div class="container tablecontainer">
    <div class="container container-fluid">
    <h2 class="header">Organisation Details</h2>
    <hr>
    <div class="row">
        <div class="employee row">
            <button [routerLink]="['../create-organisation']" class="col-auto btn btn-sm btn-primary button" >Add Organisation</button>
            <button (click)="clearSelection()" class="col-auto btn btn-sm btn-warning ">Clear</button>    
        </div>
        <br>
        <ag-grid-angular 
        class="ag-theme-alpine" 
     
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        (rowEditingStopped)="onRowEditingStopped($event)"
        (rowEditingStarted)="onRowEditingStarted($event)"
        (cellClicked)="onCellClicked($event)"
        editType="fullRow"
        [suppressClickEdit]="true"
        [rowSelection]="'multiple'" 
        [animateRows]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        >
    </ag-grid-angular>
    </div>
    </div>
</div>
