.space {
    width: 8px;
     height: auto;
     display: inline-block;
   }
   #description
   {
     height:4rem;
     width:30rem;
     overflow:hidden;
   }
   .no-records{
     margin-top:4rem;
     font-weight: 900;
     text-align: center;
   }
 @media (max-width:200px)
 {
     .btn{
       size: 10ch;
     }
 }
 .tablecontainer{
   display: flex;
   justify-content: center;
 }
 .employeetable{
   text-align: center;
 }
 .paginate{
   text-align: center;
   
 }
 .ngx-pagination{
   margin-top: 16px;
 }
   #buttoncolumn{
     width:300px;
   }
   
   @media(max-width:990px) {
   
     #buttoncolumn{
      width:200px;
     }
    
   
    }
   
    @media (max-width:770px)
    {
      .tableclass{
        overflow-x: auto;
        margin-bottom: 16px;
      }
      #serialnumber{
       width:100px;
     }
    }
   @media(max-width:580px) {
   
     .input-group,
     .form-control {
         width: 140px;
   
     }
   }
   @media(max-width:470px) {
   
     .input-group,
     .form-control {
         width: 140px;
     }
     #button{
       padding:0.25rem 0.55rem;
       font-size:0.5rem;
     }
     #buttoncolumn{
       width:150px;
      }
   }
 @media(max-width:420px) {
   .form-inline{
     width: 140px;
     float:left;
     margin-top:5px;
 }
   .tableclass{
     margin-top:40px;
   }
   th,td{
     min-width:100px;
   }
 }
 @media(max-width:380px) {
   
   .input-group,
   .form-control {
       width: 140px;
   }
   #button{
     padding:0.25rem 0.55rem;
     font-size:0.5rem;
   }
   #buttoncolumn{
     width:100px;
    }
 }
 
 
 