<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">First Name</h2>

          <h3 class="text-muted mb-0">{{ data.firstname }}</h3>
        </div>
        <div class="col-sm-6">
          <h2 class="mb-0">Last Name</h2>

          <h3 class="text-muted mb-0">{{ data.lastname }}</h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">Date of Birth :</h2>

          <h3 class="text-muted mb-0">{{ data.dob | date : "dd-MM-YYYY" }}</h3>
        </div>

        <div class="col-sm-6">
          <h2 class="mb-0">Employee ID</h2>

          <h3 class="text-muted mb-0">{{ data.id }}</h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">Email</h2>

          <h3 class="text-muted mb-0">{{ data.email }}</h3>
        </div>

        <div class="col-sm-6">
          <h2 class="mb-0">Organisation</h2>
          <h3 class="text-muted mb-0">{{ data.organisation_Name }}</h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">Department</h2>

          <h3 class="text-muted mb-0">{{ data.department_Name }}</h3>
        </div>
        <div class="col-sm-6">
          <h2 class="mb-0">Designation</h2>

          <h3 class="text-muted mb-0">{{ data.designation_Name }}</h3>
        </div>
      </div>
      <div class="button-group text-center">
        <button routerLink="" class="btn btn-primary pull-left btn btn-info">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
