 <!-- <div class="form-inline filter btn-group">


        <select name="Categories" id="Category_Name" class="form-select" name="cat" [(ngModel)]="Product.category_id" placeholder="Filter" (change)="Onchange()">


            <option *ngFor="let item of Categorylist" value={{item.category_id}}> {{item.category_Name}}</option>

        </select>

    </div> -->

      <!-- <ng-container *ngIf="( data ) as result">
            <p class="no-records" *ngIf="result.length == 0">No Records found</p>
            <pagination-controls class="paginate" *ngIf="result.length != 0" (pageChange)="page = $event"></pagination-controls> 
            <li *ngFor="let page of pageField,let i = index ">
                <a (click)="showEmployeesByPageNumber(page,i)" [ngClass]="pageNumber[i]? 'pageColor':'page-link'">{{page}}</a>
            </li> 
          </ng-container> -->






<!-- 
<div class="container tablecontainer">
    <div class="container container-fluid ">
        <div>
            <div class="btn-group">
                <a [routerLink]="['../create-employee']" class="btn btn-primary"> <i class="fa-solid fa-user-plus"></i> Add
                    Employee </a>
            </div>
              <div class="form-inline btn-group search">

                <input type="search" class="form-control rounded" [(ngModel)]="searchValue" (input)="Search(searchValue)" placeholder="Search" 
    
                    aria-label="Search" aria-describedby="search-addon" />
            </div>   
        </div>
        <br>
        <div class="tableclass">
          <table class="table table-striped table-bordered">
            <thead>
                <tr class="tenacioustable">
                    
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tenacioustable" *ngFor="let item of data | paginate:{itemsPerPage:5, currentPage:page}; let i=index  ">
                    
                    <td>{{item.id}}</td>
                    <td>{{item.firstname}}</td>
                    <td>{{item.lastname}}</td>
                    <td>{{item.department_Name}}</td>
                    <td>{{item.designation_Name}}</td>
                   
                    
                    <td>
                        <a [routerLink]="['../edit-employee',item.id]" class="btn btn-primary" ><i
                                class="fa-solid fa-pen-to-square"  title="Edit"></i></a><div class="space"></div>
                        <a [routerLink]="['../employee-profile',item.id]" class="btn btn-success" target="_self"><i
                                class="fa-solid fa-circle-info" title="Details"></i></a><div class="space"></div>
                        <button  class="btn btn-danger" (click)="deleteEmployee(item.id)" ><i class="fa-solid fa-user-slash" data-toggle="modal" data-target="#Mymodal"title="Delete"></i></button> 
                    </td>
                </tr>
            </tbody>    
         </table>
        </div>
      
            <div class="container mw-100">
                <div class="row">
                    <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <ul class="pagination justify-content-center">
                                <li *ngFor="let page of pageField;let i=index" class="page-item">
                                <a (click)="showEmployeesByPageNumber(page,i)"[ngClass]="pageNumber[i]?'pageColor':''"
                                style="margin-right:5px;;margin-top: 5px">{{page}}</a>
            
                                </li>
                             </ul>
                            <div style="text-align: center;">
                                Page {{page}} of Total page {{exactPageList}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
</div>  -->



<div class="container tablecontainer">
    <div class="container container-fluid">
    <h2 class="header">Employee Details</h2>
    <hr>
    <div class="row">
        <div class="employee row">
            <button [routerLink]="['../create-employee']" class="col-auto btn btn-sm btn-primary button" >Add Employee</button>
            <button (click)="clearSelection()" class="col-auto btn btn-sm btn-warning ">Clear</button>    
        </div>
        <br>
        <ag-grid-angular 
        class="ag-theme-alpine" 
     
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        (rowEditingStopped)="onRowEditingStopped($event)"
        (rowEditingStarted)="onRowEditingStarted($event)"
        (cellClicked)="onCellClicked($event)"
        editType="fullRow"
        [suppressClickEdit]="true"
        [rowSelection]="'multiple'" 
        [animateRows]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        >
    </ag-grid-angular>
    </div>
    </div>
</div>

<!-- [modules]="modules" -->

