<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
     
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">Organisation ID</h2>

          <h3 class="text-muted mb-0">{{ data.id }}</h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mb-0">OrganisationName</h2>

          <h3 class="text-muted mb-0">{{ data.organisation_Name }}</h3>
        </div>
      </div>
      <div class="button-group text-center">
        <button routerLink="" class="btn btn-primary pull-left btn btn-info">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
