
<div class="container table-box">
    <form class="border-box" #myForm="ngForm" (ngSubmit)="OnSubmit()">
        <span class="border-box-tip"><b>Edit Employee</b></span>
        <div class="employee row">
            <div class="col-auto">
                <label for="firstName" class="col-form-label">First Name</label>
                <input type="text" name="firstname" #firstname="ngModel" [(ngModel)]="update.firstname"
                    class="form-control" aria-describedby="firstnameHelpInline">
                <div *ngIf="firstname.touched && firstname.errors?.['required']" class="text-danger">
                    Firstname is Required!
                </div>
                <div *ngIf="firstname.touched && firstname.errors?.['pattern']" class="text-danger">
                    Should not contain Numbers and special characters!
                </div>
            </div>
            <div class="col-auto">
                <label for="lastName" class="col-form-label">Last Name</label>

                <input type="text" name="lastName" #lastname="ngModel" [(ngModel)]="update.lastname" class="form-control"
                    aria-describedby="lastNameHelpInline">
                <div *ngIf="lastname.touched && lastname.errors?.['required']" class="text-danger">
                    Lastname is Required!
                </div>
                <div *ngIf="lastname.touched && lastname.errors?.['pattern']" class="text-danger">
                    Should not contain Numbers and special characters!
                </div>
            </div>
        </div>
        <div class="employee row">
            <div class="col-auto">
                <label for="datetime" class="col-form-label">Date of Birth </label>
                <input type="date" #dob="ngModel" required name="Dob" (click)="changeDate()" [(ngModel)]="Dob"
                    [ngModel]="update.dob | date:'YYYY-MM-dd'" id="dob" class="form-control"
                    aria-describedby="dobHelpInline">
                <div *ngIf="dob.touched && dob.errors?.['required']" class="text-danger">
                    Date of Birth is Required
                </div>
                <div *ngIf="dob.touched && error.includes('Age') ">
                    <span><h3 class="text-danger">{{error}}</h3></span>
                </div>
                <div *ngIf="dob.touched && error.includes('Date') ">
                    <span><h3 class="text-danger">{{error}}</h3></span>
                </div>
            </div>
            <div class="col-auto">
                <label for="dept" class="col-form-label">Gender</label>
                <div class="input-group">
                    <select name="gender"  [(ngModel)]="update.gender" class="custom-select">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="employee row">
           
            <div class="col-auto">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" name="email" #email="ngModel" required
                    pattern="[a-zA-Z0-9_\-\.]+[@][a-z]+[\.][a-z]{2,3}$" [(ngModel)]="update.email" id="email"
                    class="form-control" aria-describedby="emailHelpInline">
                <div *ngIf="email.touched && email.errors?.['required']" class="text-danger">
                    Email is Required!
                </div>
                <div *ngIf="email.touched && email.errors?.['pattern']" class="text-danger">
                    Email is invalid!
                </div>
                <div *ngIf=" email.touched && error.includes('Email')">
                    <span><h3 class="text-danger">{{error}}</h3></span>
                </div>
            </div>
            <div class="col-auto">
                <label for="org" class="col-form-label">Organisation</label>

                <div class="input-group">
                    <select name="Organisation" [(ngModel)]="update.Organisation" name="selectedOrganisation"
                     [(ngModel)]="selectedOrganisation" class="custom-select">
                        <option selected>Choose...</option>
                        <option *ngFor="let items of organisations" [selected]="items.id == selectedOrganisation"
                            value={{items.id}}>{{items.organisation_Name}}</option>
                    </select>
                </div>
                <div *ngIf="organisationID==''" class="text-danger">Organisation should not be empty! </div>
            </div>
        </div>
        <div class="employee row">
          
            <div class="col-auto">
                <label for="dept" class="col-form-label">Department</label>
                <div class="input-group">
                    <select name="Department" [(ngModel)]="update.Department" name="selectedDepartment" 
                         [(ngModel)]="selectedDepartment" class="custom-select">
                        <option selected>Choose...</option>
                        <option *ngFor="let items of departments" [selected]="items.id == selectedDepartment" value={{items.id}}>
                            {{items.department_Name}}</option>
                    </select>
                </div>
                <div *ngIf="departmentID==''" class="text-danger">Department should not be empty! </div>
            </div>
            
            <div class="col-auto">
                <label for="designation" class="col-form-label">Designation</label>
                <div class="input-group">
                    <select name="Designation" [(ngModel)]="update.Designation"name="selectedDesignation" 
                    [(ngModel)]="selectedDesignation" class="custom-select">
                     <option selected>Choose...</option>
                        <option *ngFor="let items of designations" [selected]="items.id == selectedDesignation"
                            value={{items.id}}>{{items.designation_Name}}</option>
                    </select>
                </div>
                <div *ngIf="designationID==''" class="text-danger">Designation should not be empty! </div>
            </div>
        </div>
 
        
        <div class="addbutton row button-group">
            <button
                type="submit" class="btn btn-primary col-lg-2">Update</button>
            <button [routerLink]="['']" class="btn btn-primary col-lg-2">Cancel</button>
        </div>
    </form>
</div>