<div class="container table-box">

    <form  class="border-box" #myForm="ngForm" (ngSubmit)="OnSubmit()">

        <span class="border-box-tip"><b>Add Organisation</b></span>

        <div class="organisation row ">
            <div class="col-auto">
                <label class="col-form-label">Organisation Name</label>
                <input type="text"  #organisationName="ngModel" required pattern="^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$" class="form-control" name="organisationName" [(ngModel)]="Organisation.organisation_Name" >   
                <div *ngIf ="organisationName.touched && organisationName.errors?.['required']" class=" text-danger">
                    Organisation Name is Required!
                </div>
                <div *ngIf ="organisationName.touched && organisationName.errors?.['pattern']" class="text-danger input" >
                    Should not contain numbers and special characters!
                </div>
                <div *ngIf="error.includes('Organisation')">
                    <span><h3 class="text-center text-danger">{{error}}</h3></span>
                </div>
            </div>
        </div>
       
       
        <div class="addbutton row button-group">
            <button type="submit" class="btn btn-primary col-lg-2" [disabled]="!myForm.form.valid">Create</button>
            <button [routerLink]="['/organisation']" class="btn btn-danger col-lg-2">Back</button>
        </div>
    </form>
</div>
